table{
    width: 100%;
    height: 400px;
  }
  .highlight{
    background: lightblue; /* green */
  }
 
  
  .mat-cell {
    text-align: center;
   direction: rtl;
  
   }
  .mat-header-cell {
    text-align: start;
   direction: rtl;
  
   }

   .mat-list-features{
    text-align: end;
    direction: rtl;
   }
   .mat-list-item-featuers
   {
    text-align: end;
    direction: rtl;

   }